*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(66, 62, 55);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
}

img{
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    width: 500px;
    height: 300px;
    border-radius: 50%;
}

h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  color: rgb(227, 178, 60);
  text-align: center;
  padding: 0% 26% 2% 27%;
}

.div1{
    background: #d8d8d823;
    display: block;
    align-self: center;
    width: 80%;
    height: 50%;
    padding:2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(227, 178, 60);
    font-size: 25px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 30px;
    color: rgb(254, 255, 190);
  }

  .card img {
    margin: 20px;
    margin-bottom: 30px;
    width: 200px; 
    height: 200px;
    border-radius: 20px;
    transition: all .3s ease-out;
    cursor: pointer;
  } 

  .card img:hover{
    transform: scale(1.1);
  }

  .card p{
    display: flex;
    flex-direction: row;
    margin-top: -5%;
    margin-left: 32%;
    font-size: 30px;
    color: rgb(227, 178, 60);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 28%;
    color: rgb(227, 178, 60);
  }